* {
    font-family: Helvetica;
    text-align: center;
}
.cafe{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}
.h2style {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.sec1{
    background-color: mediumspringgreen;
}
.sec2{
    background-color: lightcoral;
}
.sec3{
    background-color: skyblue;
}
.money{
    font-weight: bold;
    color: blue;
}
